<!doctype html>
<title>{% block title %}Welcome{% endblock %} | Drivers' Site</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Drivers' Site</h1>
  <div class=navigation>
  {% if g.user %}
    <a href="{{ url_for('timeline') }}">Home</a> |
    <a href="{{ url_for('connect_to_foursquare') }}">Connect to Foursquare</a> |
    <a href="{{ url_for('deliveries_to_bid_on') }}">Bid</a> |
    <a href="{{ url_for('deliveries_to_pick_up') }}">Pick Up</a> |
    <a href="{{ url_for('deliveries_in_progress') }}">Deliveries in Progress</a> |
    <a href="{{ url_for('completed_deliveries') }}">Completed Deliveries</a> |
    <a href="{{ url_for('logout') }}">sign out [{{ g.user.username }}]</a>
  {% else %}
    <a href="{{ url_for('public_timeline') }}">public timeline</a> |
    <a href="{{ url_for('register') }}">sign up</a> |
    <a href="{{ url_for('login') }}">sign in</a>
  {% endif %}
  </div>
  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class=flashes>
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class=body>
  {% block body %}{% endblock %}
  </div>
  <div class=footer>
    Drivers' Site &mdash; by Lexi, Brian, and Mychal
  </div>
</div>
